{
   "server": "localhost",
   "port": "4455",
   "password": "",
   "captureDest": "/ram/cam.jpg",
   "streamUrl": "rtmp://a.rtmp.youtube.com/live2",
   "streamkeys": [
      {
         "key":"key",
         "value":"your_stream_key_here"
      }
   ]
}